.nav {
    background-color: #ffffff;
    color: #000000;
    list-style: none;
    text-align: right;
    padding: 20px 0 0 0;
}

.nav > .logo {
    font-size: 30px;
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 16px;
}

.nav > li > a {
    text-decoration: none; 
    color: #000000;
}

.logo {
    color: #000000;
    float: left;
    padding-left: 25px;
    font-size: 16px;
    font-weight: bold;
}

.titel {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}

.bestellingen .box-container {
    max-width: 1500px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.bestellingen .box-container .bestellingen_box {
    background-color: #FFCFC0;
    border: black 1px solid;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}