* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url('../img/bloemen.jpg');
    font: 14px Georgia, 'Times New Roman', Times, serif;
}

.logo_titel {
  width: fit-content;
}

.logo_titel h1 {
    position: relative;
    top: 15px;
    left: 15px;
}

.login_form {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 160px;
}

.login_titel {
    position: relative;
    top: 75px;
}

.login_titel h1 {
    font-size: 24px;
}

.form_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 65px;
    align-items: center;
    position: relative;
}

.login_input {
    margin-top: 110px;
    gap: 35px;
    display: flex;
    height: 100px;
    position: relative;
}

.input_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input_box > input {
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}

.login_box {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.login_box > button {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    cursor: pointer;
}
.registreer_box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    font-weight: bold;
}


.login_admin_link {
    position: absolute;
    top: 5px;
    left: 5px;
}

.admin_link_knop {
    min-width: 100px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}