* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url('../img/bloemen.jpg');
    font: 14px Georgia, 'Times New Roman', Times, serif;
}

.logo_titel {
  width: fit-content;
}

.logo_titel h1 {
    position: relative;
    top: 2vh;
    left: 2vw;
}

.login_form {
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 10em;
}

.login_titel {
    position: relative;
    top: 10vh;
}

.login_titel h1 {
    font-size: 1.5rem;
}

.form_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4em;
    align-items: center;
    position: relative;
}

.login_input {
    margin-top: 15vh;
    gap: 2em;
    display: flex;
    height: 13vh;
    position: relative;
}

.input_box {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.input_box > input {
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}

.login_box {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.login_box > button {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    cursor: pointer;
}
.registreer_box {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}


.login_admin_link {
    position: absolute;
    top: 4px;
    left: 4px;
}

.admin_link_knop {
    min-width: 7vw;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}