* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.nav {
    background-color: #ffffff;
    color: #000000;
    list-style: none;
    text-align: right;
    padding: 20px 0 0 0;
}

.nav > .logo {
    font-size: 30px;
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 16px;
}

.nav > li > a {
    text-decoration: none; 
    color: #000000;
}


.logo {
    color: #000000;
    float: left;
    padding-left: 25px;
    font-size: 16px;
    font-weight: bold;
}

.banner {
    width: 100%
}

.banner > .banner-img {
    width: 100%;
    display: block;
}

#overons {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}