.nav {
    background-color: #ffffff;
    color: #000000;
    list-style: none;
    text-align: right;
    padding: 20px 0 0 0;
}

.nav > .logo {
    font-size: 30px;
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 16px;
}

.nav > li > a {
    text-decoration: none; 
    color: #000000;
}

.logo {
    color: #000000;
    float: left;
    padding-left: 25px;
    font-size: 16px;
    font-weight: bold;
}

.winkelwagen > .box-container {
    max-width: 1500px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.winkelwagen > .box-container > .box {
    background-color: #FFCFC0;
    border: black 1px solid;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
}

.winkelwagen > .box-container > .box > .image {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.naam {
    font-size: 20px;
    font-weight: bold
}

.omschrijving {
    font-size: 14px;
}

.prijs {
    font-size: 18px;
}

.verwijder_winkelwagen_knop {
    display: inline-block;
    border-radius: 10px;
    border: black 1px solid;
    margin-top: 10px;
    text-align: center;
    color: white;
    background-color: red;
    cursor: pointer;
}

.update_winkelwagen_knop {
    display: inline-block;
    border-radius: 10px;
    border: black 1px solid;
    margin-top: 10px;
    text-align: center;
    color: white;
    background-color: green;
    cursor: pointer; 
}

.aantal {
    width: 100px;
    padding: 1px 5px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px black solid;
}

.winkelwagen > .winkelwagen-totaal {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    background-color: #FFCFC0;
    border: black solid 1px;
    border-radius: 5px;
}

.bestel_knop {
    width: 200px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px 10px;
    color: white;
    background-color: green;
    cursor: pointer;
}