/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: eb garamond;

}

html, body {
    background-color: whitesmoke;
    height: 100%;
}

h1, h2, h3, h4 {
    color: #2b52b0;
} */

 
#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 120px;
}

.input_winkel {
    width: 85%;
    margin: auto;
    position: relative;
    top: 12vh;
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    align-items: center;
}

.input_winkel label {
    border: solid 1px black;
    display: inline-block;
    min-width: 20vw;
    padding: 10px;
}

.input_winkel input {
    border: solid 1px black;
    min-width: 20vw;
    padding: 10px;
}



